<header class="header" id="header">
  <div class="container header__container">
    <a href="/" class="header__logo">
      <span class="logo__dot"></span> Virtuo-Cell
    </a>
    <nav class="header__nav">
      <ul class="nav__list">
        <li><a href="#" class="nav__link">Главная</a></li>
        <li><a href="#about" class="nav__link">О платформе</a></li>
        <li><a href="#benefits" class="nav__link">Преимущества</a></li>
        <li><a href="#innovations" class="nav__link">Инновации</a></li>
        <li><a href="#academy" class="nav__link">Академия</a></li>
      </ul>
    </nav>
    <a href="#contact" class="header__cta">Связаться</a>
    <button class="burger" id="burger"><span></span></button>
  </div>
</header>