<header class="header" id="header">
  <div class="container header__container">
    <a href="./#home" class="header__logo">
      <span class="logo__dot"></span> Virtuo-Cell
    </a>
    <nav class="header__nav">
      <ul class="nav__list">
        <li><a href="./#home" class="nav__link">Главная</a></li>
        <li><a href="./#about" class="nav__link">О платформе</a></li>
        <li><a href="./#benefits" class="nav__link">Преимущества</a></li>
        <li><a href="./#innovations" class="nav__link">Инновации</a></li>
        <li><a href="./#academy" class="nav__link">Академия</a></li>
      </ul>
    </nav>
    <a href="./#contact" class="header__cta">Связаться</a>
<button class="burger" id="burger" aria-label="Открыть меню">
  <span></span>
  <span></span>
</button>
  </div>
</header>
<div class="mobile-menu" id="mobileMenu">
  <nav class="mobile-menu__nav">
    <a href="./#home" class="mobile-link">Главная</a>
    <a href="./#about" class="mobile-link">О платформе</a>
    <a href="./#benefits" class="mobile-link">Преимущества</a>
    <a href="./#innovations" class="mobile-link">Инновации</a>
    <a href="./#academy" class="mobile-link">Академия</a>
    <a href="./#contact" class="mobile-link mobile-link--cta">Запросить доступ</a>
  </nav>
</div>